<div class="mx-auto w-full max-w-lg p-6">
    <div class="mt-7 rounded-xl">
      <div class="p-4 text-center">
        <h1 class="block text-2xl font-bold">Enter Password</h1>
  
        <div class="mt-5">
          <form>
            <div class="grid gap-y-4">
              <div>
                <div class="relative">
                  <input type="text" id="password" placeholder="*******" class="block w-full rounded-md border-2 border-gray-200 py-3 px-4 text-sm outline-none focus:border-amber-400" required />
                </div>
              </div>
              <button type="submit" class="inline-flex items-center justify-center gap-2 rounded-md border border-transparent transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 bg-amber-300 hover:bg-amber-400 py-3 text-center text-base font-semibold text-white" (click)="showPasswordReport()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  