

<div>
    <div class="container alternateOne" id="container-header">
        <div>Location</div>
        <div>Reported By</div>
        <div>Time Reported</div>
        <div>Status</div>
        <div></div>
    </div>
    <app-pig
    *ngFor="let p of pig | search:query"
    [pig]="p"
    (delete) = "onPersonDelete($event)"
    ></app-pig>

</div>

<div class="mr-10">
    <button class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 w-full rounded-lg bg-amber-300 hover:bg-amber-400 py-3 mx-5 text-center font-semibold text-white text-2xl" (click)="showPasswordReport()">Submit</button>
</div>

<!-- <div id="buttonHolder">
    <button class="create" (click)="showReport()">Create Pig Report</button>
</div> -->
