
<div class="container alternateOne" id="container-header">
    <div matTooltip="Sort by location" matTooltipPosition="left" (click)="locationSort(this)">Location</div>
    <div matTooltip="Sort by name" matTooltipPosition="right" (click)="nameSort(this)">Reported By</div>
    <div matTooltip="Sort by time" matTooltipPosition="right" (click)="timeSort(this)">Time Reported</div>
    <div matTooltip="Sort by status" matTooltipPosition="right" (click)="statusSort(this)">Status</div>
    <div></div>
</div>
<div id="theSortingTable">
    <app-pig
    *ngFor="let p of pig | keyvalue:noSort"
    [pig]="p"
    (delete) = "onPersonDelete($event)"
    (changeStat) = "fixStatus($event)"
    ></app-pig>
</div>

<div id="theLocationTable" class="hideThis">
    <app-pig
    *ngFor="let p of pig | keyvalue:sortLocation"
    [pig]="p"
    (delete) = "onPersonDelete($event)"
    (changeStat) = "fixStatus($event)"
    ></app-pig>
</div>

<div id="theNameTable" class="hideThis">
    <app-pig
    *ngFor="let p of pig | keyvalue:sortAlpha"
    [pig]="p"
    (delete) = "onPersonDelete($event)"
    (changeStat) = "fixStatus($event)"
    ></app-pig>
</div>

<div id="theTimeTable" class="hideThis">
    <app-pig
    *ngFor="let p of pig | keyvalue:sortTime"
    [pig]="p"
    (delete) = "onPersonDelete($event)"
    (changeStat) = "fixStatus($event)"
    ></app-pig>
</div>

<div id="theStatusTable" class="hideThis">
    <app-pig
    *ngFor="let p of pig | keyvalue:sortStatus"
    [pig]="p"
    (delete) = "onPersonDelete($event)"
    (changeStat) = "fixStatus($event)"
    ></app-pig>
</div>


<div class="mr-10">
    <button class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 w-full rounded-lg bg-amber-300 hover:bg-amber-400 py-3 mx-5 text-center font-semibold text-white text-2xl" (click)="showReport()">Submit</button>
</div>
