

<div>
    <div class="container alternateOne" id="container-header">
        <div>Location</div>
        <div>Reported By</div>
        <div>Time Reported</div>
        <div>Status</div>
        <div></div>
    </div>
    <app-pig
    *ngFor="let p of pig | search:query"
    [pig]="p"
    (delete) = "onPersonDelete($event)"
    ></app-pig>
    <!-- 
    <div class="container alternateTwo">
        <div>Metrotown</div>
        <div>Lucas</div>
        <div>2022-11-01 (5:30pm)</div>
        <div>RETRIEVED</div>
        <div>
            <button (click)="showDialog()">More Info</button>
            <button class="buttonDelete">Delete</button>
        </div>
    </div>

    <div class="container alternateOne">
        <div>SFU Burnaby</div>
        <div>Sydney</div>
        <div>2022-12-01 (1:30am)</div>
        <div>READY FOR PICKUP</div>
        <div>
            <button (click)="showDialog()">More Info</button>
            <button class="buttonDelete">Delete</button>
        </div>
    </div>

    <div class="container alternateTwo">
        <div>Metrotown</div>
        <div>Lucas</div>
        <div>2022-11-01 (5:30pm)</div>
        <div>RETRIEVED</div>
        <div>
            <button (click)="showDialog()">More Info</button>
            <button class="buttonDelete">Delete</button>
        </div>
    </div> --> 
</div>

<div class="mr-10">
    <button class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 w-full rounded-lg bg-amber-300 hover:bg-amber-400 py-3 mx-5 text-center font-semibold text-white text-2xl" (click)="showReport()">Submit</button>
</div>

<!-- <div id="buttonHolder">
    <button class="create" (click)="showReport()">Create Pig Report</button>
</div> -->
