
<div class="container alternateTwo">
    <div name="pigLocation" id="location" [textContent]="pig.location"></div>
    <div name="pigName" id="name" [textContent]="pig.name"></div>
    {{ pig.added_on | date:'d MMM, yyyy' }}
    <div id="status" matTooltip="Change status" matTooltipPosition="after" style="max-width: 200px;" [textContent]="pig.status" (click)="checkPasswordStatus(this, $event)"></div>
    <div>
        <button (click)="showDialog(this)">More Info</button>
        <button class="buttonDelete" id="tableDelete" (click)="signalDelete(this, $event, pig.name, pig.phoneNumber, pig.date, pig.location, pig.notes, pig.breed, pig.pid, pig.latitude, pig.longitude, pig.status)">Delete</button>
    </div>
</div>

<!-- Store the other information for the pig -->
<div class="hideThis" id="pNumber" [textContent]="pig.phoneNumber"></div>
<div class="hideThis" id="breed" [textContent]="pig.breed"></div>
<div class="hideThis" id="pid" [textContent]="pig.pid"></div>
<div class="hideThis" id="longitude" [textContent]="pig.longitude"></div>
<div class="hideThis" id="latitude" [textContent]="pig.latitude"></div>
<div class="hideThis" id="notes" [textContent]="pig.notes"></div>
<div class="hideThis" id="date" [textContent]="pig.added_on"></div>

