.hideThis {
    display: none;
}

p {
    border: 1px solid black;
    width:100%;
    padding:1em;
    border-radius: 1em;
    user-select: none;
}

.instructor-style{
    border:1px solid red;
}

.title {
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: x-large;
}

.container {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
}

#container-header {
    font-weight: bold;
    font-size: 28px;
    padding: 15px;
}

.alternateOne {
    background-color: antiquewhite;
}

.alternateTwo {
    background-color: white;
}

button {
    border: none;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: #e5e5e5;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin-right: 15px;
}

button:hover {
    background-color: #d4d4d4;
}

.buttonDelete {
    background-color: #ff9999;
}

.buttonDelete:hover {
    background-color: #ff5555;
}

#buttonHolder {
    margin: 10px;
}

.create {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 98.5vw;
    padding: 10px;
    font-size: 30px;
    font-weight: 500;
    border: 3px solid antiquewhite;
    border-radius: 8px;
    background-color: wheat;
    overflow: hidden;
}

.create:hover {
    background-color: rgb(241, 200, 122);
}