
<div class="container alternateTwo">
    <div id="location" [textContent]="pig.location"></div>
    <div id="name" [textContent]="pig.name"></div>
    <br> {{ pig.added_on | date:'d MMM, yyyy' }} <br>
    <div id="status" [textContent]="pig.status"></div>
    <div>
        <button (click)="showDialog()">More Info</button>
        <button class="buttonDelete">Delete</button>
    </div>
</div>

<!-- Store the other information for the pig -->
<div class="hideThis" id="pNumber" [textContent]="pig.phoneNumber"></div>
<div class="hideThis" id="breed" [textContent]="pig.breed"></div>
<div class="hideThis" id="pid" [textContent]="pig.pid"></div>
<div class="hideThis" id="longitude" [textContent]="pig.longitude"></div>
<div class="hideThis" id="latitude" [textContent]="pig.latitude"></div>
<div class="hideThis" id="notes" [textContent]="pig.notes"></div>
<div class="hideThis" id="date" [textContent]="pig.added_on"></div>

